//Fonts

$font-head: 'Shadows Into Light Two', cursive;
$font-std: 'Montserrat', sans-serif;


// Colors

$c-black: #000;
$c-white: #fff;
$c-accent-1: #694721;
$c-accent-2: #FFAC50;
$c-content-1: #efefef;
$c-grey: #bdbcbc;